---
addr: 192.168.122.251
hostname: node0
labels:
- _admin
- mon
- mgr
service_type: host
---
addr: 192.168.122.250
hostname: node1
labels:
- osd
service_type: host
---
placement:
  hosts:
  - node0
service_id: mon
service_name: mon
service_type: mon
---
placement:
  hosts:
  - node0
service_id: mgr
service_name: mgr
service_type: mgr
---
placement:
  hosts:
  - node1
service_id: default_drive_group
service_name: osd.default_drive_group
service_type: osd
data_devices:
  paths:
    - /dev/vg2/data-lv2
